{% extends "learning_logs/base.html" %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">
        在这里记录和分享你的笔记
    </h1>

    <p class="lead">
        找到你感兴趣的主题，与志同道合的人分享你的学习笔记和心得。如果你感兴趣的主题没有也没关系，添加你自己感兴趣的主题并从零开始吧。
    </p>
    {% if user.is_authenticated %}
    <h3>欢迎回来, {{ user.username }}.</h3>
    {% else %}
    <a class="btn btn-lg btn-primary" href="{% url 'users:register'%}">
        注册 &raquo;
    </a>
    {% endif %}
</div>
{% endblock page_header %}

{% block content %}

<h1>
    主题：
</h1>

<ul>
    {% for topic in topics %}
        <li><h3>
            <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        </h3></li>
    {% empty %}
        <li><h3>现在还没有学习主题，请添加任何您感兴趣的主题并开始学习之旅</h3></li>
    {% endfor %}
</ul>
<hr>
<h3><a class="btn btn-primary" href="{% url 'learning_logs:new_topic' %}">
    添加一个新主题
</a></h3>

{% endblock content %}
