{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h2>
    在<a href="{% url 'learning_logs:topic' topic.id %}">
        {{ topic }}
    </a>中添加一个新的学习条目
</h2>
{% endblock page_header %}

{% block content %}

<form action="{% url 'learning_logs:new_entry' topic.id %}" method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button class="btn btn-primary" name="submit">添加此条目</button>
    {% endbuttons %}
</form>

{% endblock content %}