{% extends "learning_logs/base.html" %}

{% block page_header %}
<h1>
    当前主题: {{ topic }}
    <a class="btn btn-primary" href="{% url 'learning_logs:new_entry' topic.id %}">
        添加新笔记
    </a>
</h1>
{% endblock page_header %}


{% block content %}

    {% for entry in entries %}
        <div class='card mb-3'>
            <h4 class="card-body">{{ entry.text|linebreaks }}</h4>
            <div class="card-footer text-muted">
                <span>
                    <a class="btn btn-primary" href="{% url 'learning_logs:edit_entry' entry.id %}">Edit</a>
                </span>
                <span>Creat by {{ entry.owner}} - {{ entry.date_added|date:'M d, Y H:i' }}</span>
            </div>
        </div>
    {% empty %}
        <h2>You can add whatever you learned about {{ topic }}.</h2>
    {% endfor %}

{% endblock content %}